@charset "UTF-8";

*{ font-family: Arial, Helvetica, sans-serif;
    /*heigth: 100%;*/}
body{ background-image: linear-gradient(to right, #EBC5B0, #F29991)}
main{ background-color: white; 
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0d0d0d85;
    width: 600px;
    padding: 10px;
    margin: auto;}
h1{ color:#0D0D0D;
text-align: center;
text-shadow: 1px 1px 2px #0d0d0d85;}
h2{ color:#730E0E;}
p{text-align: justify;}